@import "tailwindcss";

body {
  background: #000;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

@media (max-width: 1024) {
  body,
  html {
    overflow-x: hidden;
  }

  .responsive-button {
    min-width: -webkit-fill-available;
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(0, 0, 0, 0.7) 50%,
      hsla(0, 0%, 100%, 0)
    );
  }

  .header-custom-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent);
  }
}
